<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gun Deaths in the US: 2012-2014</title>
</head>
<body>
    <h1>Gun Deaths in the US: 2012-2014</h1>
    <h2><a href="/1"> Some statistics</a></h2>
    <h2><a href="/2"> Here we can see, that most of the victims were in the age between 20 and 30.</a></h2>
    <h2><a href="/3"> Here we can see, that most of them are white, black are at the second place.</a></h2>
    <h2><a href="/4"> Here we can see, that the majority have graduated from high school.</a></h2>
    <h2><a href="/5"> Here we can see, that most of the deaths are suicides.</a></h2>
    <h2><a href="/7"> Here we can see for what age each intend is more frequent.</a></h2>
    <h2><a href="/8"> Here we can see, the level of education of each race.</a></h2>
    <h2><a href="/9"> The conclusion.</a></h2>
</body>
</html>